<body id="page-top">
    <div id="wrapper">
  
      <%- include('./partials/sidebar.ejs') %>
  
        <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
  
            <%- include('./partials/nav.ejs') %>
  
              <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                  <h3 class="text-dark mb-0">NIC Verification</h3>
                </div>
              </div>
          </div>
  
  
  
          <div class="row px-4 my-5">
            <div class="col-6 m-auto">
              <% if (typeof msg !='undefined' && msg==true) { %>
                <div class="alert alert-success" id="successMsg" role="alert">
                  NIC validate successfully...
                </div>
                <% } %>
              <% if (typeof msg !='undefined' && msg==false) { %>
                <div class="alert alert-danger" id="successMsg" role="alert">
                  NIC validation failed...
                </div>
                <% } %>
  
                  <form action="/validate-my-nic" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fullname</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp" required autofocus placeholder="Enter fullname e.g. Muhammad Ali">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Date of Birth</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" name="date" required autofocus placeholder="Enter sender name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">NIC Number</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" name="nic" required autofocus placeholder="xxxxxxxxxxxx">
                    </div>
                    <button type="submit" class="btn btn-primary">Validate my NIC</button>
                  </form>
            </div>
          </div>
  
  
  </body>
  
  
  
  <script>
    setTimeout(() => {
      document.getElementById('successMsg').style.display = "none"
    }, 3000);
  </script>